/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	margin: 0;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header{
	color: rgb(152,173,166);
    text-decoration: none;
	font-size: 100px;
}



header a {
	color: rgb(152,173,166);
	text-decoration: none;
	text-size-adjust: 16px;
}

p {
    color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#press img{
	border: 5px #ccc solid;
    padding: 1px;
}